/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {font-family: 'Roboto', sans-serif;}

body {
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
}

form {
    margin: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 25px;
    background-color: #f7faff;
    width: 75%;
}

thead th {
    background-color: #0e1e58;
    color: #f7faff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    padding: 5px;
}

tr:first-child td {
    padding-top: 10px;
}

tr:nth-child(7) td {
    border-top: 1px solid rgba(0, 0, 0, 0.27);
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

tr:last-child td {
    padding-bottom: 10px;
    padding-top: 10px;
}

td:first-child {
    text-align: right;
    width: 50%;
    margin-left: 50px;
}

td:nth-child(2),
td:last-child {
    width: 25%;
    text-align: center;
}

input {
    background-color: rgba(249, 243, 83, 0.491);
    border: .14rem solid rgba(0, 0, 0, 0.27);
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    height: 20px;
}

input[type="text"] {
    width: 85%;
}
input[type="number"] {
    width: 70%;
}

.boldBlue {
    color: #0e1e58;
    font-weight: 900;
}

select {
    margin-top: 5px;
    border-radius: 5px;
}

.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of width to center */
    margin-bottom: 8px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 12px;
    font-weight: 400;
}

button {
  background-color: #dfdfdf;
  color: rgb(61, 61, 61);
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  margin: 0 5px 0 5px;
}
  
button:hover {
  color: #dfdfdf;
  background-color: rgb(61, 61, 61);
}